.container {
    display: flex;
    position: relative;
    transform: preserve-3d;
}

.App {
    width: 40%;
    margin: 50px;
    background-color: #CFE1B1;
    height: 80vh;
    text-align: center;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 1rem 3rem #4B365F;
    border: black 1px solid;
}

.files {
    background-color: white;
    width: 50%;
    height: 77vh;
    padding: 3rem 0;
    overflow-y: auto;
    border-radius: 15px;
    margin: 50px;
    box-shadow: 0 1rem 3rem black;
}

.header, h2 {
    text-align: center;
    background-color: #E1DBB1;
    padding: 10px;
    border-radius: 10px;
    margin: 30px;
    border: black 2px solid;
    box-shadow: 0 0.5rem 0.5rem #aaa36d;
}

h2 {
    margin-bottom: 60px;
}

button {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    background-color: #E1C3B1;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 0.5rem 0.5rem #af886f;
}

.directory-label {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.results {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #999;
    border-radius: 10px;
}